@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
.a-loader-title {
    padding-top: 15rem;
    padding-bottom: 3rem;
    color: white;
    background-color: transparent;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 4rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.a-loader-title::after{
    content: "\A\ALoading";
    white-space: pre;
}